<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

     <!-- Navigation menu -->
    {{>navbar}}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{list._id}}</td>
      <td>{{list.firstname}}</td>
      <td>{{list.lastname}}</td>
      <td>{{list.email}}</td>
      <td>{{list.gender}}</td>
      <td>{{list.phone}}</td>
      <td>{{list.age}}</td>
      <td><a href="/edit/{{list._id}}">Edit</a></td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>


    {{>footer}}
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>